<p id="notice"><%= notice %></p>

<font face=" MS UI Gothic" size="5" color=" #FFA500">カテゴリー一覧 </font><br><br>

<table>
  <thead>
    <tr>
      <th>カテゴリー名</th>
      <th colspan="4"></th>
    </tr>
  </thead>


<tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.categoryname %></td>
        <td><%= link_to '詳細', category %></td>
        <td><%= link_to '編集', edit_category_path(category) %></td>
        <td><%= link_to '削除', category, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'カテゴリー登録', new_category_path %>
